.products-table {
    font-size: 1.55rem;
    width: 100%;
    text-align: center;

    img {
        width: 6rem;
    }

    tr {
        border: 1px solid #d0d1d5;
        border-radius: 1rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(11, 1fr);

        align-items: center;
        padding: 1rem;
    }

    .span-2 {
        grid-column-start: span 2;
    }
}
