.sidebar {
    border-top: 2px solid #000;
    background-color: rgb(16, 26, 52, 0.96);
    width: 20%;
    min-height: 100vh;
    position: relative;

    &__nav {
        a {
            color: #b2b9cb;
            width: 100%;
            display: flex;
            padding: 1rem 2rem;
            transition: all 0.15s ease-in-out;

            &:hover {
                color: #fff;
                background-color: #122039;
            }
        }
    }
}
