.data-table {
    position: relative;

    .filter {
        margin-bottom: 2rem;
        width: 100%;
        // background: #999;
        display: flex;
        justify-content: flex-end;
        // align-items: center;
        // justify-content: space-between;
        // padding: 1.5rem;

        &__search {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #444;
            padding: 0.85rem 1rem 1rem 1rem;
            width: 30%;

            svg {
                font-size: 2.5rem;
                color: #fff;
            }

            input {
                width: 100%;
                font-size: 1.5rem;
                font-family: inherit;
                padding: 0.5rem 0.85rem;
                background: none;
                color: #fff;
                outline: none;
                border: none;
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 4rem;

        button {
            border: 1px solid #777;
            cursor: pointer;
            outline: none;
            border-radius: 50%;
            height: 3.5rem;
            width: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;

            svg {
                font-weight: bold;
                font-size: 1.6rem;
            }

            &.active {
                background-color: #287cc0;
                color: #fff;
            }
        }
    }

    table {
        font-size: 1.55rem;
        width: 100%;
        text-align: center;

        img {
            width: 6rem;
        }

        tr {
            border: 1px solid #d0d1d5;
            border-radius: 1rem;
            margin-top: 1rem;
            display: grid;
            // grid-template-columns: repeat(10, 1fr);
            gap: 1rem;

            align-items: center;
            padding: 1rem;
        }

        td {
            text-transform: capitalize;
        }

        .span-2 {
            grid-column-start: span 2;
        }

        .status {
            padding: 0.5rem 0;
            color: #fff;
        }

        .cancelled {
            background-color: #fba809;
        }

        .placed {
            background-color: #8b39c2;
        }

        .delivered {
            background-color: #3ec28f;
        }

        .total {
            font-weight: bold;
        }
    }
}
